[submodule "backend"]
	path = backend
	url = https://github.com/baboyiban/go-api-server
[submodule "frontend"]
	path = frontend
	url = https://github.com/baboyiban/nextjs-app
[submodule "mqtt"]
	path = mqtt
	url = https://github.com/baboyiban/mqtt-server
